# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# CUDA object files
*.cu.o
*.fatbin
*.ptx
*.cubin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CUDA build directories
/build/

# Visual Studio specific files

## User-specific files
.vs/
.vs2019/
.vs2017/

## User-specific files (Windows)
*.user
*.userosscache
*.suo
*.sln.docstates

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows Installer Patch
*.patch

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ReleasePublic/
x64/
x86/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Core
wwwroot/
